// Demo Variables
//---------------------------------------------------------------------------------------
$grid-border-color:  #d9d9d9 !default;
$grid-bg-color:  		 #f1f1f1 !default;
$grid-box-bg-color:  #fefefe !default;

$example-caption:		 14px !default;
$main-animation:		 0.15s ease-in-out !default;
