// Index Style
//---------------------------------------------------------------------------------------
body#grid-home{
	font-family: 'Roboto', sans-serif;
	padding-top: 0;
	.hero{
		background-image: linear-gradient(-20deg, #88d3ce 0%, #6e45e2 100%);
		h1, h2{
      color: #fff;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
       @media (max-width: $device-xs){
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
       }
    }
    h1{
      font-weight: 300;
      font-size: 56px;
			line-height: normal;
      //text-transform: uppercase;
      margin-bottom: 10px;
      @media (max-width: $device-xs){
        font-size: 28px;
      }
      strong{
        font-weight: 900;
        word-spacing: -0.15em;
      }
    }
    h2{
      margin-bottom: 50px;
      font-size: 28px;
			font-weight: 100;
      @media (max-width: $device-xs){
        margin-bottom: 30px;
        margin-top: 10px;
        font-size: 24px;
      }
    }
		.btn-white,
		.btn-download{
			color: #fff;
			border-color: #fff;
			@media (max-width: 540px){
				display: block;
				max-width: 340px;
				margin: 15px auto;
			}
			&:hover,
			&:active,
			&:focus{
				background-color: rgba(255, 255, 255, .2);
			}
		}
		.btn-download{
			@include box-shadow(1px 2px 6px rgba(0,0,0,0.3));
			background-color: #F31A3E;
			border-color: #F31A3E;
			&:hover,
			&:active,
			&:focus{
				@include box-shadow(2px 3px 12px rgba(0,0,0,0.5));
				background-color: #F31A3E;
			}
		}
	}
}
