// Footer Style
//---------------------------------------------------------------------------------------
.prefooter{
	border-top: 1px solid #eee;
	margin-top: 40px;
	padding: 10px 0;
	font-size: 12px;
	color: #999;
	span{
		color: #222;
	}
	p{
		@media (min-width: 410px){
			display: none;
		}
	}
	a{
		color:#666;
		@media (min-width: $device-lg){
			text-decoration: none;
		}
		&:hover{
			text-decoration: underline;
		}
	}

	// social
	.social{
		margin:0;
		padding: 0;
		li{
			display: inline-block;
			font-size: 24px;
			margin-left: 4px;
			a{
				color: #ccc;
				&:hover{
					color: #666;
				}
			}
		}
	}
	.xs-text-center{
		@media (max-width: $device-xs){
			text-align: center;
		}
	}
}
