// Example Body Style
//---------------------------------------------------------------------------------------
body{
	&.example{
		padding-top: 60px;
		font-family: 'Roboto', sans-serif;
	  font-size: 18px;
	  line-height: 1.6;
	  color: #444;
	  background-color: #FCFCFC;
		section.initial{
			padding-top: 60px;
		}
		h2{
			margin: 0 0 25px;
			font-size: 50px;
			color: #666;
			font-weight: 300;
			line-height: normal;
		}
		h3{
			font-weight: 500;
			color:#222;
			font-size: 20px;
			margin:0 0 15px;
			line-height: normal;
		}
		p, ul{
			margin:0 0 20px;
			color: #555;
			font-weight: 300;
		}
		p > small{
			font-size: 80%;
			font-style: italic;
			display: block;
			padding: 5px;
			background-color: #fff;
			border: 2px solid #333;
		}
		code{
			background-color: #333;
			padding: 20px;
			margin-top: 0;
			display: block;
			color: #fff;
			pre{
				line-height: .95;
				font-size: 13px;
				font-family: monospace;
			}
		}
		em{
			font-style: normal;
			font-weight: 600;
			color: #F31A3E;
			white-space: nowrap;
		}
		hr{
			margin: 60px 0;
			border-top: none;
			border-bottom: 1px solid #eee;
		}
		// Example holders
		.example-white-holder{
	    padding: 40px 20px;
	    background-color: #fff;
	    border: 1px solid #f3f3f3;
			p{
				font-size: 14px;
			}
		}
	}
	&#grid-example{
		.example-holder{
			background-color: #f1f1f1;
			padding: 2px;
			[class*="col-"],
			.grid-demo {
				font-size: 12px;
			  border: 3px solid #f1f1f1;
			  background-color: #fff;
				padding: 15px;
			}
		}
	}
}




// grid boxes style
// GRID ROW
@for $i from 1 through 8 {
  .grid-#{$i}{
		div{
			border: 0.5px solid $grid-border-color;
			background-color: $grid-bg-color;
			padding: 5px;
	    span{
	    	min-height: 150px;
				display: block;
				padding: 20px;
				background-color: $grid-box-bg-color;
			}
		}
  }
}

// Shadows
.example-box{
    width: 120px;
    height: 120px;
    background: #fff;
    display: inline-block;
    border: 1px solid $grid-border-color;
    margin: 10px 20px;
		@include animation(0.5s ease-in-out);
    &.deep-1{
    	@include main-deep(1);
			@include zindex(1);
    }
    &.deep-2{
    	@include main-deep(2);
			@include zindex(6);
    }
    &.deep-3{
    	@include main-deep(3);
			@include zindex(10);
    }
    &.deep-4{
    	@include main-deep(4);
			@include zindex(2);
    }
    &.deep-5{
    	@include main-deep(5);
			@include zindex(5);
    }

    &:hover {
				@include animation-transform(scale(1.5));
    }
}
