// Download Icon
//--------------------------------------------------------------------------------------
.download-btn{
	position: absolute;
	top: 14px;
	right: 15px;
	@include border-radius(50%);
	@include square(30px);
	@include animation(0.15s ease-in-out);
	background-color: #333;

	&:hover,
	&:active,
	&:focus{
		@include main-deep(4);
	}
	svg{
		margin: 0;
		fill: #fff;
	}
}
