// Main Forms Variables
//------------------------------------------------------------------------------
//** Default Form Variables
$item-margin:           25px !default;
$input-padding:         10px !default;
$input-border:          1px solid #ccc;
$placeholder-color:     #999 !default;
$placeholder-size:      14px !default;
$error-color:           #d9534f !default;

//** Materials Form Variables

$mf-font-size: 18px !default;
$mf-active-font-size: $mf-font-size * 0.8 !default;
$mf-active-top: -$mf-font-size !default;
// spacing
$mf-gap: $mf-font-size * 1.5 !default;
$mf-spacer: $mf-font-size / 8 !default;
$mf-checkbox-gap: $mf-font-size * 2 !default;
$mf-checkbox-top: 0 !default;
$mf-radio-margin: $mf-font-size / -4 !default;
// colors
$mf-border-color: #ccc !default;

$mf-active-color: darken($mf-border-color, 10%) !default;
$mf-focus-color: $brand-primary !default;
$mf-error-color: #d9534f !default;
// animation
$mf-transition-speed: 0.28s !default;



// Form default
//------------------------------------------------------------------------------
form{
  @extend .display-flex;
  @include flex-wrap(wrap);
  @include flex-direction();
  > *{
    @include flex(1 1 100%);
    position: relative;
    margin-bottom: $item-margin;
  }
  // Dont edit this. Default values for form elements
  @include placeholder {
    color: $placeholder-color;
    font-size: $placeholder-size;
  }
  input,
  select,
  textarea{
    width: 100%;
  }
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius:0;
    background-color: #fff;
    &:-ms-expand {
      display: none;
    }
  }
  textarea{
    resize: none;
  }
}

// inline forms
.inline-form{
  @include flex-direction();
  @include flex-wrap(nowrap);
  @include align-items(flex-end);
  @include justify-content(space-around);
  > *{
    @include flex(1 1 100%);
    padding:0 4px;
  }
  @media (max-width: $device-xs){
    @include flex-wrap(wrap);
  }
  button[type=submit],
  input[type=submit]{
    display: block;
    width: 100%;
  }
}

// Main Forms
//------------------------------------------------------------------------------
.form{
  label{
    display: block;
  }
  input,
  select,
  textarea{
    border: $input-border;
    padding: $input-padding;
  }
  select{
    position: relative;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1ex;
    background-origin: content-box;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICBpZD0ic3ZnMiIKICAgdmlld0JveD0iMCAwIDM1Ljk3MDk4MyAyMy4wOTE1MTgiCiAgIGhlaWdodD0iNi41MTY5Mzk2bW0iCiAgIHdpZHRoPSIxMC4xNTE4MTFtbSI+CiAgPGRlZnMKICAgICBpZD0iZGVmczQiIC8+CiAgPG1ldGFkYXRhCiAgICAgaWQ9Im1ldGFkYXRhNyI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgICA8ZGM6dGl0bGU+PC9kYzp0aXRsZT4KICAgICAgPC9jYzpXb3JrPgogICAgPC9yZGY6UkRGPgogIDwvbWV0YWRhdGE+CiAgPGcKICAgICB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjAyLjAxNDUxLC00MDcuMTIyMjUpIgogICAgIGlkPSJsYXllcjEiPgogICAgPHRleHQKICAgICAgIGlkPSJ0ZXh0MzMzNiIKICAgICAgIHk9IjYyOS41MDUwNyIKICAgICAgIHg9IjI5MS40Mjg1NiIKICAgICAgIHN0eWxlPSJmb250LXN0eWxlOm5vcm1hbDtmb250LXdlaWdodDpub3JtYWw7Zm9udC1zaXplOjQwcHg7bGluZS1oZWlnaHQ6MTI1JTtmb250LWZhbWlseTpzYW5zLXNlcmlmO2xldHRlci1zcGFjaW5nOjBweDt3b3JkLXNwYWNpbmc6MHB4O2ZpbGw6IzAwMDAwMDtmaWxsLW9wYWNpdHk6MTtzdHJva2U6bm9uZTtzdHJva2Utd2lkdGg6MXB4O3N0cm9rZS1saW5lY2FwOmJ1dHQ7c3Ryb2tlLWxpbmVqb2luOm1pdGVyO3N0cm9rZS1vcGFjaXR5OjEiCiAgICAgICB4bWw6c3BhY2U9InByZXNlcnZlIj48dHNwYW4KICAgICAgICAgeT0iNjI5LjUwNTA3IgogICAgICAgICB4PSIyOTEuNDI4NTYiCiAgICAgICAgIGlkPSJ0c3BhbjMzMzgiPjwvdHNwYW4+PC90ZXh0PgogICAgPGcKICAgICAgIGlkPSJ0ZXh0MzM0MCIKICAgICAgIHN0eWxlPSJmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LXN0cmV0Y2g6bm9ybWFsO2ZvbnQtc2l6ZTo0MHB4O2xpbmUtaGVpZ2h0OjEyNSU7Zm9udC1mYW1pbHk6Rm9udEF3ZXNvbWU7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjpGb250QXdlc29tZTtsZXR0ZXItc3BhY2luZzowcHg7d29yZC1zcGFjaW5nOjBweDtmaWxsOiMwMDAwMDA7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjFweDtzdHJva2UtbGluZWNhcDpidXR0O3N0cm9rZS1saW5lam9pbjptaXRlcjtzdHJva2Utb3BhY2l0eToxIj4KICAgICAgPHBhdGgKICAgICAgICAgaWQ9InBhdGgzMzQ1IgogICAgICAgICBzdHlsZT0iZmlsbDojMzMzMzMzO2ZpbGwtb3BhY2l0eToxIgogICAgICAgICBkPSJtIDIzNy41NjY5Niw0MTMuMjU1MDcgYyAwLjU1ODA0LC0wLjU1ODA0IDAuNTU4MDQsLTEuNDczMjIgMCwtMi4wMzEyNSBsIC0zLjcwNTM1LC0zLjY4MzA0IGMgLTAuNTU4MDQsLTAuNTU4MDQgLTEuNDUwOSwtMC41NTgwNCAtMi4wMDg5MywwIEwgMjIwLDQxOS4zOTM0NiAyMDguMTQ3MzIsNDA3LjU0MDc4IGMgLTAuNTU4MDMsLTAuNTU4MDQgLTEuNDUwODksLTAuNTU4MDQgLTIuMDA4OTMsMCBsIC0zLjcwNTM1LDMuNjgzMDQgYyAtMC41NTgwNCwwLjU1ODAzIC0wLjU1ODA0LDEuNDczMjEgMCwyLjAzMTI1IGwgMTYuNTYyNSwxNi41NDAxNyBjIDAuNTU4MDMsMC41NTgwNCAxLjQ1MDg5LDAuNTU4MDQgMi4wMDg5MiwwIGwgMTYuNTYyNSwtMTYuNTQwMTcgeiIgLz4KICAgIDwvZz4KICA8L2c+Cjwvc3ZnPgo=");
  }
  .checkbox,
  .radios{
    label,
    input{
      display: inline-block;
      width: auto;
    }
  }
}

// Main Materials Form
//------------------------------------------------------------------------------
.material-form{
  @include placeholder {
    @include animation($mf-transition-speed ease);
    opacity: 0;
  }
  /* WebKit browsers */
  input:focus::-webkit-input-placeholder { opacity: 1}
  /* Mozilla Firefox 4 to 18 */
  input:focus:-moz-placeholder { opacity: 1}
  /* Mozilla Firefox 19+ */
  input:focus::-moz-placeholder { opacity: 1}
  /* Internet Explorer 10+ */
  input:focus:-ms-input-placeholder { opacity: 1}


  fieldset {
  	padding: 0;
  	border: none;
  }

  .form-radio,
  .form-group {
  	position: relative;
  }

  .form-help {
  	margin-top: $mf-spacer;
  	margin-left: $mf-spacer;
  	font-size: $mf-active-font-size;
  	.checkbox &,
  	.form-radio &,
  	.form-group & {
  		position: absolute;
  		width: 100%;
  	}
  	.checkbox & {
  		position: relative;
  	}
  	.form-radio & {
  		padding-top: ($mf-spacer * 2);
  	}
  }

  .form-group {
  	input {
  		height: ($mf-font-size * 1.9);
  	}
  	textarea {
  		resize: none;
  	}
  	select {
  		width: 100%;
  		font-size: $mf-font-size;
  		height: ($mf-font-size * 1.6);
  		padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
  		background: none;
  		border: none;
  		line-height: 1.6;
  		box-shadow: none;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 1ex;
      background-origin: content-box;
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICBpZD0ic3ZnMiIKICAgdmlld0JveD0iMCAwIDM1Ljk3MDk4MyAyMy4wOTE1MTgiCiAgIGhlaWdodD0iNi41MTY5Mzk2bW0iCiAgIHdpZHRoPSIxMC4xNTE4MTFtbSI+CiAgPGRlZnMKICAgICBpZD0iZGVmczQiIC8+CiAgPG1ldGFkYXRhCiAgICAgaWQ9Im1ldGFkYXRhNyI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgICA8ZGM6dGl0bGU+PC9kYzp0aXRsZT4KICAgICAgPC9jYzpXb3JrPgogICAgPC9yZGY6UkRGPgogIDwvbWV0YWRhdGE+CiAgPGcKICAgICB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjAyLjAxNDUxLC00MDcuMTIyMjUpIgogICAgIGlkPSJsYXllcjEiPgogICAgPHRleHQKICAgICAgIGlkPSJ0ZXh0MzMzNiIKICAgICAgIHk9IjYyOS41MDUwNyIKICAgICAgIHg9IjI5MS40Mjg1NiIKICAgICAgIHN0eWxlPSJmb250LXN0eWxlOm5vcm1hbDtmb250LXdlaWdodDpub3JtYWw7Zm9udC1zaXplOjQwcHg7bGluZS1oZWlnaHQ6MTI1JTtmb250LWZhbWlseTpzYW5zLXNlcmlmO2xldHRlci1zcGFjaW5nOjBweDt3b3JkLXNwYWNpbmc6MHB4O2ZpbGw6IzAwMDAwMDtmaWxsLW9wYWNpdHk6MTtzdHJva2U6bm9uZTtzdHJva2Utd2lkdGg6MXB4O3N0cm9rZS1saW5lY2FwOmJ1dHQ7c3Ryb2tlLWxpbmVqb2luOm1pdGVyO3N0cm9rZS1vcGFjaXR5OjEiCiAgICAgICB4bWw6c3BhY2U9InByZXNlcnZlIj48dHNwYW4KICAgICAgICAgeT0iNjI5LjUwNTA3IgogICAgICAgICB4PSIyOTEuNDI4NTYiCiAgICAgICAgIGlkPSJ0c3BhbjMzMzgiPjwvdHNwYW4+PC90ZXh0PgogICAgPGcKICAgICAgIGlkPSJ0ZXh0MzM0MCIKICAgICAgIHN0eWxlPSJmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LXN0cmV0Y2g6bm9ybWFsO2ZvbnQtc2l6ZTo0MHB4O2xpbmUtaGVpZ2h0OjEyNSU7Zm9udC1mYW1pbHk6Rm9udEF3ZXNvbWU7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjpGb250QXdlc29tZTtsZXR0ZXItc3BhY2luZzowcHg7d29yZC1zcGFjaW5nOjBweDtmaWxsOiMwMDAwMDA7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjFweDtzdHJva2UtbGluZWNhcDpidXR0O3N0cm9rZS1saW5lam9pbjptaXRlcjtzdHJva2Utb3BhY2l0eToxIj4KICAgICAgPHBhdGgKICAgICAgICAgaWQ9InBhdGgzMzQ1IgogICAgICAgICBzdHlsZT0iZmlsbDojMzMzMzMzO2ZpbGwtb3BhY2l0eToxIgogICAgICAgICBkPSJtIDIzNy41NjY5Niw0MTMuMjU1MDcgYyAwLjU1ODA0LC0wLjU1ODA0IDAuNTU4MDQsLTEuNDczMjIgMCwtMi4wMzEyNSBsIC0zLjcwNTM1LC0zLjY4MzA0IGMgLTAuNTU4MDQsLTAuNTU4MDQgLTEuNDUwOSwtMC41NTgwNCAtMi4wMDg5MywwIEwgMjIwLDQxOS4zOTM0NiAyMDguMTQ3MzIsNDA3LjU0MDc4IGMgLTAuNTU4MDMsLTAuNTU4MDQgLTEuNDUwODksLTAuNTU4MDQgLTIuMDA4OTMsMCBsIC0zLjcwNTM1LDMuNjgzMDQgYyAtMC41NTgwNCwwLjU1ODAzIC0wLjU1ODA0LDEuNDczMjEgMCwyLjAzMTI1IGwgMTYuNTYyNSwxNi41NDAxNyBjIDAuNTU4MDMsMC41NTgwNCAxLjQ1MDg5LDAuNTU4MDQgMi4wMDg5MiwwIGwgMTYuNTYyNSwtMTYuNTQwMTcgeiIgLz4KICAgIDwvZz4KICA8L2c+Cjwvc3ZnPgo=");
  	}
  	.control-label {
  		position: absolute;
  		top: ($mf-font-size / 4);
  		pointer-events: none;
  		padding-left: $mf-spacer;
  		z-index: 1;
  		@include animation($mf-transition-speed ease);
  	}

  	.bar {
  		position: relative;
  		border-bottom: ($mf-font-size / 16) solid $mf-border-color;
  		display: block;

  		&::before {
  			content: '';
  			height: ($mf-font-size / 8);
  			width: 0;
  			left: 50%;
  			bottom: ($mf-font-size / -16);
  			position: absolute;
  			background: $mf-focus-color;
  			transition: left $mf-transition-speed ease, width $mf-transition-speed ease;
  			z-index: 2;
  		}
  	}

  	input,
  	textarea {
  		display: block;
  		background: none;
  		padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
  		font-size: $mf-font-size;
  		border-width: 0;
  		border-color: transparent;
  		line-height: 1.9;
  		width: 100%;
  		@include animation($mf-transition-speed ease);
  		box-shadow: none;
  	}

  	input[type="file"] {
  		line-height: 1;

  		~ .bar {
  			display: none;
  		}
  	}


  	select,
  	input:focus,
  	input:valid,
  	input.form-file,
  	input.has-value,
  	textarea:focus,
  	textarea:valid,
  	textarea.form-file,
  	textarea.has-value {

  		~ .control-label {
  			font-size: $mf-active-font-size;
  			color: $mf-active-color;
  			top: $mf-active-top;
  			left: 0;
  		}
  	}

  	select,
  	input,
  	textarea {
  		&:focus {
  			outline: none;

  			~ .control-label {
  				color: $mf-focus-color;
  			}

  			~ .bar {
  				&::before {
  					width: 100%;
  					left: 0;
  				}
  			}
  		}
  	}
  }

  // Radio & Checkbox
  .checkbox,
  .form-radio {
  	label {
  		position: relative;
  		cursor: pointer;
  		padding-left: $mf-checkbox-gap;
  		text-align: left;
  		display: block;
  	}

  	input {
  		width: auto;
  		opacity: 0.00000001;
  		position: absolute;
  		left: 0;
  	}
  }

  .radio {
  	.helper {
  		position: absolute;
  		top: 0;
  		left: $mf-radio-margin;
  		cursor: pointer;
  		display: block;
  		font-size: $mf-font-size;
  		user-select: none;
  		color: $mf-border-color;

  		&::before,
  		&::after {
  			content: '';
  			position: absolute;
  			left: 0;
  			top: 0;
  			margin: ($mf-spacer * 2);
  			width: $mf-font-size;
  			height: $mf-font-size;
  			transition: transform $mf-transition-speed ease;
  			border-radius: 50%;
  			border: ($mf-font-size / 8) solid currentColor;
  		}

  		&::after {
  			transform: scale(0);
  			background-color: $mf-focus-color;
  			border-color: $mf-focus-color;
  		}
  	}

  	label:hover .helper {
  		color: $mf-focus-color;
  	}

  	// scss-lint:disable QualifyingElement, NestingDepth
  	input:checked {
  		~ .helper {
  			&::after {
  					transform: scale(0.5);
  			}
  			&::before {
  				color: $mf-focus-color;
  			}
  		}
  	}
  }

  .checkbox {
  	// scss-lint:disable QualifyingElement
  	.helper {
  		color: $mf-border-color;
  		position: absolute;
  		top: 5px;
  		left: 0;
  		width: $mf-font-size;
  		height: $mf-font-size;
  		z-index: 0;
  		border: ($mf-font-size / 8) solid currentColor;
  		border-radius: ($mf-font-size / 16);
  		transition: border-color $mf-transition-speed ease;

  		&::before,
  		&::after {
  			position: absolute;
  			height: 0;
  			width: ($mf-font-size * 0.2);
  			background-color: $mf-focus-color;
  			display: block;
  			transform-origin: left top;
  			border-radius: ($mf-font-size / 4);
  			content: '';
  			transition: opacity $mf-transition-speed ease, height 0s linear $mf-transition-speed;
  			opacity: 0;
  		}

  		&::before {
  			top: ($mf-font-size * 0.65);
  			left: ($mf-font-size * 0.38);
  			transform: rotate(-135deg);
  			box-shadow: 0 0 0 ($mf-font-size / 16) #fff;
  		}

  		&::after {
  			top: ($mf-font-size * 0.3);
  			left: 0;
  			transform: rotate(-45deg);
  		}
  	}

  	label:hover .helper {
  		color: $mf-focus-color;
  	}

  	input:checked {
  		~ .helper {
  			color: $mf-focus-color;

  			&::after,
  			&::before {
  				opacity: 1;
  				transition: height $mf-transition-speed ease;
  			}

  			&::after {
  				height: ($mf-font-size / 2);
  			}

  			&::before {
  				height: ($mf-font-size * 1.2);
  				transition-delay: $mf-transition-speed;
  			}
  		}
  	}
  }

  .radio + .radio,
  .checkbox + .checkbox {

  }

  .has-error {
  	.legend.legend,
  	&.form-group .control-label.control-label {
  		// Prevent !importantRule
  		color: $mf-error-color;
  	}

  	&.form-group,
  	&.checkbox,
  	&.radio,
  	&.form-radio {
  		.form-help,
  		.helper {
  			color: $mf-error-color;
  		}
  	}

  	.bar {
  		&::before {
  			background: $mf-error-color;
  			left: 0;
  			width: 100%;
  		}
  	}
  }
}




// Main Forms Validations
//------------------------------------------------------------------------------
.error{
  label{
    color: $error-color;
  }
  input,
  textarea,
  select{
    border-color: $error-color;
    background-color: lighten($error-color, 35%);
  }
}








.button {
	position: relative;
	background: currentColor;
	border: 1px solid currentColor;
	font-size: ($mf-font-size * 1.1);
	color: lighten($mf-focus-color, 10%);
	margin:( $mf-gap * 2) 0;
	padding: ($mf-gap / 2) ($mf-gap * 2);
	cursor: pointer;
	transition: background-color $mf-transition-speed ease, color $mf-transition-speed ease, box-shadow $mf-transition-speed ease;
	overflow: hidden;

	span {
		color: #fff;
		position: relative;
		z-index: 1;
	}

	&::before {
		content: '';
		position: absolute;
		background: darken($mf-focus-color, 40%);
		border: 50vh solid darken($mf-focus-color, 20%);
		width: 30vh;
		height: 30vh;
		border-radius: 50%;
		display: block;
		top: 50%;
		left: 50%;
		z-index: 0;
		opacity: 1;
		transform: translate(-50%, -50%) scale(0);
	}

	&:hover {
		color: $mf-focus-color;
	}

	&:active,
	&:focus {
		&::before {
			transition: transform ($mf-transition-speed * 4) ease, opacity $mf-transition-speed ease ($mf-transition-speed * 1.3);
			transform: translate(-50%, -50%) scale(1);
			opacity: 0;
		}
	}

	&:focus {
		outline: none;
	}
}










.masonry-layout { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
    @media (max-width: 768px){
      column-count: 2;
    }
    @media (max-width: 480px){
      column-count: 1;
    }
}

.item { /* Masonry bricks or child elements */
    background-color: #fff;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    @include main-deep(2);
    h3{
      background-color: #fff;
      font-size: 18px !important;
      line-height: 1.6 !important;
      padding: 10px;
      margin: 0 !important;
      border-bottom: 1px solid #eee;
    }
    p{
      padding: 10px;
      font-size: 14px;
    }
}









$gridBox-height: 90px !default; // cantidad de columnas de la grilla
$grid-main-padding: 0 !default;
$grid-column-space: $grid-main-padding !default;

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($gridBox-height, 1fr));
    grid-gap: $grid-column-space;
    grid-auto-rows: minmax($gridBox-height, auto);
    grid-auto-flow: dense;
    padding: $grid-main-padding;
}

.grid-item {
    padding: 1rem;
    font-size: 12px;
    text-transform: uppercase;
    border: 3px solid #f1f1f1;
    background-color: #fff;
    border-radius: 5px;
}

.col-4{
  grid-column-end: span 4;
}
.col-3{
  grid-column-end: span 3;
}
.row-2{
  grid-row-end: span 2;
}
.row-4{
  grid-row-end: span 4;
}
.span-2 {
    grid-column-end: span 8;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
}
.span-4 {
    grid-column-end: span 2;
    grid-row-end: span 5;
}
