
//responsive iframe
.embed-responsive {
  @include responsive-holder(16 9);
}

// mansoty flexbox
.masonry-layout{
  padding: 10px;
}
.item { /* Masonry bricks or child elements */
    background-color: #fff;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    @include main-deep(2);
    h3{
      background-color: #fff;
      font-size: 18px !important;
      line-height: 1.6 !important;
      padding: 10px;
      margin: 0 !important;
      border-bottom: 1px solid #eee;
    }
    p{
      padding: 10px;
      font-size: 14px;
    }
}

// CSS Layout Grid
$grid-main-padding: 0 !default;
$grid-column-space: $grid-main-padding !default;

:root{
  --gridBox-height: 33.33%; // cantidad de columnas de la grilla
}
@media (max-width: 992px){
  :root{
    --gridBox-height: 50%;
  }
}
@media (max-width: 500px){
  :root{
    --gridBox-height: 100%;
  }
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--gridBox-height), 1fr));
    grid-gap: $grid-column-space;
    grid-auto-rows: minmax(var(--gridBox-height), auto);
    grid-auto-flow: dense;
    padding: $grid-main-padding;
}

.grid-item {
    border: 3px solid #f1f1f1;
    background-color: #fff;
    h3{
      background-color: #fff;
      font-size: 18px !important;
      line-height: 1.6 !important;
      padding: 10px;
      margin: 0 !important;
      border-bottom: 1px solid #eee;
    }
    p{
      padding: 10px;
      font-size: 14px;
    }
}

.col-2{
  grid-column-end: span 2;
  @media (max-width: 500px){
    grid-column-end: span 1;
  }
}
.row-2{
  grid-row-end: span 2;
}
.row-2{
  grid-row-end: span 2;
}
.row-3{
  grid-row-end: span 3;
}
.row-4{
  grid-row-end: span 4;
}
 .row-5{
   grid-row-end: span 5;
 }








 .retina-img{
   @include retina-image(160px, 160px, "/doslotos-grid/images/con-retina", "jpg");
 }
 .no-retina-img{
   background-image: url("/doslotos-grid/images/sin-retina.jpg");
 }
