<body id="grid-example" class="example">
  <aside class="navigation">
    <div class="aside-head">
      <a href="/">dosLotos Grid</a>
      <small>Version @@for (var i = 0; i < version.length; i++) {`+version[i]+`}</small>
    </div>
    <ul>
        <li @@if (item === 'grid') { class="active" }><a href="/grid.html">Base</a></li>
        <li class="dropdown@@if (item === 'text-align' || item === 'responsive' || item === 'deeps' || item === 'iframes' || item === 'images') { open}"><a href="#">Utilidades</a>
          <ul>
              <li @@if (item === 'text-align') { class="active" }><a href="/utilidades/text-align.html">Alineacion de Texto</a></li>
              <li @@if (item === 'responsive') { class="active" }><a href="/utilidades/responsive.html">Breakpoints</a></li>
              <li @@if (item === 'deeps') { class="active" }><a href="/utilidades/deeps.html">Elevaciones</a></li>
              <li @@if (item === 'iframes') { class="active" }><a href="/utilidades/iframes.html">Responsive Embed</a></li>
              <li @@if (item === 'images') { class="active" }><a href="/utilidades/images.html">Imágenes</a></li>
          </ul>
        </li>
        <li class="dropdown@@if (item === 'container' || item === 'row-aligment' || item === 'grid-grid' || item === 'offset-cols' || item === 'order-cols' || item === 'auto-grid' || item === 'masonry-layout' || item === 'gridcss-layout') { open}"><a href="#">Layout</a>
          <ul>
              <li @@if (item === 'container') { class="active" }><a href="/layout/container.html">Container</a></li>
              <li @@if (item === 'row-aligment') { class="active" }><a href="/layout/row-aligment.html">Row Aligns</a></li>
              <li @@if (item === 'grid-grid') { class="active" }><a href="/layout/grid.html">Grilla</a></li>
              <li @@if (item === 'offset-cols') { class="active" }><a href="/layout/offset-cols.html">Offset Columnas</a></li>
              <li @@if (item === 'order-cols') { class="active" }><a href="/layout/order-cols.html">Orden Columnas</a></li>
              <li @@if (item === 'auto-grid') { class="active" }><a href="/layout/auto-grid.html">Auto Grid</a></li>
              <li @@if (item === 'masonry-layout') { class="active" }><a href="/layout/masonry-layout.html">Masonry Layout</a></li>
              <li @@if (item === 'gridcss-layout') { class="active" }><a href="/layout/gridcss-layout.html">Grid CSS Layout</a></li>
          </ul>
        </li>
        <li @@if (item === 'navbar') { class="active" }><a href="/componentes/navbar/index.html">Navbar</a></li>
        <li class="descargar"><a href="https://github.com/ccucurullo/dsgrid" target="_blank">Descargar</a></li>
    </ul>
</aside>
<a data-collapse="" data-target="#navigation" data-toggle="close-overlay" class="overlay"></a>

<div class="page">
  <header class="page-header">
    <button data-collapse data-target="#navigation" data-toggle="open-nav" class="toggle"><span class="icon"></span></button>
