<!DOCTYPE html>
<html>

<head>
 @@include('../include/head.html', { "title": "Botones" })
</head>
 @@include('../include/main-nav.html')
  <h1>Layout</h1>
  <a href="https://github.com/ccucurullo/dsgrid" class="download-btn" target="_blank">
    <svg aria-hidden="true" height="30" version="1.1" viewBox="0 0 16 16" width="30">
      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
    </svg>
  </a>
</header>

<section class="initial">
  <div class="container">
    <div class="row">
      <div class="col-xxs-12">
        <h2>Auto Grid</h2>
        <p>Crea una grilla perfecta sin importarle la cantidad de elementos que contenga. Podemos setearle una cantidad de elementos por defecto y luego variar esta cantidad dependiendo de la resolución en la que se muestran.</p>
        <ul>
            <li><em>grid-6</em> Ubica 6 elementos por línea</li>
            <li><em>grid-md-4</em> Ubica 4 elementos por línea a partir de 992px</li>
            <li><em>grid-sm-3</em> Ubica 3 elementos por línea a partir de 768px</li>
            <li><em>grid-xs-2</em> Ubica 2 elementos por línea a partir de 480px</li>
        </ul>
        <div class="example-holder">
          <div class="grid-6 grid-md-4 grid-sm-3 grid-xs-2">
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
            <div><span class="grid-demo">GRID-6 / GRID-MD-4 / GRID-SM-3 / GRID-XS-2</span></div>
          </div>
        </div>
<code><pre>
&lt;div class="grid-6 grid-md-4 grid-sm-3 grid-xs-2"&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
&lt;/div&gt;
</pre></code>
      </div> <!-- Main Column -->
    </div> <!-- Main Row -->
  </div> <!-- Main Container -->
</section>
<hr />
<section>
  <div class="container">
    <div class="row">
      <div class="col-xxs-12">
        <h2>Auto Grid Horizontal Scroll</h2>
        <p>Al igual que el <strong>Auto Grid</strong> crea una grilla perfecta sin importarle la cantidad de elementos que contenga con la diferencia que la cuadricula se transforma en un area escroleable a la resolución deseada utilizando la clase <em>grid-(breakpoint)-horizontal</em></p>
        <div class="example-holder">
          <div class="grid-5 grid-md-horizontal">
            <div><span class="grid-demo">GRID-5 / Grid-md-horizontal</span></div>
            <div><span class="grid-demo">GRID-5 / Grid-md-horizontal</span></div>
            <div><span class="grid-demo">GRID-5 / Grid-md-horizontal</span></div>
            <div><span class="grid-demo">GRID-5 / Grid-md-horizontal</span></div>
            <div><span class="grid-demo">GRID-5 / Grid-md-horizontal</span></div>
            <div><span class="grid-demo">GRID-5 / Grid-md-horizontal</span></div>
            <div><span class="grid-demo">GRID-5 / Grid-md-horizontal</span></div>
            <div><span class="grid-demo">GRID-5 / Grid-md-horizontal</span></div>
            <div><span class="grid-demo">GRID-5 / Grid-md-horizontal</span></div>
            <div><span class="grid-demo">GRID-5 / Grid-md-horizontal</span></div>
          </div>
        </div>
<code><pre>
&lt;div class="grid-5 grid-md-horizontal"&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
  ...<br />
&lt;/div&gt;
      </pre></code>
      </div> <!-- Main Column -->
    </div> <!-- Main Row -->
  </div> <!-- Main Container -->
</section>



@@include('../include/pre-footer.html')
</div>
 @@include('../include/footer.html')
</body>

</html>
