<!DOCTYPE html>
<html>

<head>
 @@include('../include/head.html', { "title": "Botones" })
</head>
 @@include('../include/main-nav.html')
  <h1>Layout</h1>
  <a href="https://github.com/ccucurullo/dsgrid" class="download-btn"><div class="download icon"></div></a>
</header>

<section class="initial">
  <div class="container">
    <div class="row">
      <div class="col-xxs-12">
        <h2>Masonry Layout</h2>
        <p>Crea una grilla perfecta sin importarle la cantidad de elementos que contenga. Podemos setearle una cantidad de elementos por defecto y luego variar esta cantidad dependiendo de la resolución en la que se muestran.</p>
        <div class="example-holder">
          <div class="masonry-layout">
             <div class="item"><h3>1. Titulo de la Caja</h3><img src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/foodnavigator.com/article/2018/01/05/making-the-cut-is-fat-more-important-in-sweet-or-savoury-foods/7710248-1-eng-GB/Making-the-cut-Is-fat-more-important-in-sweet-or-savoury-foods_wrbm_medium.jpg" class="img-responsive" /><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy, as you will have to tweak up the height of the container everytime you add new items to the masonry.</p></div>
             <div class="item"><h3>2. Titulo de la Caja</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy, as you will have to tweak up the height of the container everytime you add new items to the masonry.</p></div>
             <div class="item"><h3>3. Titulo de la Caja</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy, as you will have to tweak up the height of the container everytime you add new items to the masonry.</p></div>
             <div class="item"><h3>4. Titulo de la Caja</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy.</p><img src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/foodnavigator.com/article/2018/01/05/making-the-cut-is-fat-more-important-in-sweet-or-savoury-foods/7710248-1-eng-GB/Making-the-cut-Is-fat-more-important-in-sweet-or-savoury-foods_wrbm_medium.jpg" class="img-responsive" /></div>
             <div class="item"><h3>5. Este es un titulo mas grande para ver como funciona la grilla</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy, as you will have to tweak up the height of the container everytime you add new items to the masonry.</p></div>
             <div class="item"><h3>6. Titulo de la Caja</h3><img src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/foodnavigator.com/article/2018/01/05/making-the-cut-is-fat-more-important-in-sweet-or-savoury-foods/7710248-1-eng-GB/Making-the-cut-Is-fat-more-important-in-sweet-or-savoury-foods_wrbm_medium.jpg" class="img-responsive" /><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy.</p></div>
             <div class="item"><h3>7. Titulo de la Caja</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy.</p></div>
             <div class="item"><h3>8. Titulo de la Caja</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy, as you will have to tweak up the height of the container everytime you add new items to the masonry.</p></div>
             <div class="item"><h3>9. Titulo de la Caja</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy, as you will have to tweak up the height of the container everytime you add new items to the masonry.</p></div>
             <div class="item"><h3>10. Un titulo realmente largo para ver como se comporta el titulo con una imagen a continuacion y tambien ver como gana en altura.</h3><img src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/foodnavigator.com/article/2018/01/05/making-the-cut-is-fat-more-important-in-sweet-or-savoury-foods/7710248-1-eng-GB/Making-the-cut-Is-fat-more-important-in-sweet-or-savoury-foods_wrbm_medium.jpg" class="img-responsive" /><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy, as you will have to tweak up the height of the container everytime you add new items to the masonry.</p></div>
             <div class="item"><h3>11. Titulo de la Caja</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy, as you will have to tweak up the height of the container everytime you add new items to the masonry.</p></div>
             <div class="item"><h3>12. Titulo de la Caja</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy.</p></div>
             <div class="item"><h3>13. Titulo de la Caja</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy, as you will have to tweak up the height of the container everytime you add new items to the masonry.</p></div>
             <div class="item"><h3>14. Titulo de la Caja</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy.</p></div>
             <div class="item"><h3>15. Titulo de la Caja</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy.</p></div>
             <div class="item"><h3>16. Titulo de la Caja</h3><p>The second concept is to give our masonry container (.masonry) a fixed height and then set the flex-direction to column. This technique is not so handy, as you will have to tweak up the height of the container everytime you add new items to the masonry.</p></div>
          </div>
        </div>
<code><pre>
&lt;div class="masonry-layout"&gt;<br />
  &lt;div class="item"&gt;...&lt;/div&gt;<br />
  &lt;div class="item"&gt;...&lt;/div&gt;<br />
  ...
&lt;/div&gt;
      </pre></code>
      </div> <!-- Main Column -->
    </div> <!-- Main Row -->
  </div> <!-- Main Container -->
</section>


<hr />

<section>
  <div class="container">
    <div class="row">
      <div class="col-xxs-12">
        <h2>Masonry Layout</h2>
        <p>Crea una grilla perfecta sin importarle la cantidad de elementos que contenga. Podemos setearle una cantidad de elementos por defecto y luego variar esta cantidad dependiendo de la resolución en la que se muestran.</p>
        <div class="example-holder">
          <div class="grid-layout">
              <div class="grid-item">item 1</div>
              <div class="grid-item">item 2</div>
              <div class="grid-item">item 3</div>
              <div class="grid-item">item 4</div>
              <div class="grid-item">item 5</div>
              <div class="grid-item">item 6</div>
              <div class="grid-item">item 7</div>
              <div class="grid-item">item 8</div>
              <div class="grid-item">item 9</div>
              <div class="grid-item">item 10</div>
              <div class="grid-item">item 11</div>
              <div class="grid-item">item 12</div>
              <div class="grid-item">item 13</div>
              <div class="grid-item">item 14</div>
              <div class="grid-item">item 15</div>
              <div class="grid-item">item 16</div>
              <div class="grid-item">item 17</div>
              <div class="grid-item">item 18</div>
              <div class="grid-item">item 19</div>
              <div class="grid-item">item 20</div>
              <div class="grid-item">item 21</div>
              <div class="grid-item">item 22</div>
              <div class="grid-item">item 23</div>
              <div class="grid-item">item 24</div>
              <div class="grid-item">item 25</div>
              <div class="grid-item">item 26</div>
              <div class="grid-item">item 27</div>
              <div class="grid-item">item 28</div>
              <div class="grid-item">item 29</div>
              <div class="grid-item">item 30</div>
              <div class="grid-item">item 31</div>
              <div class="grid-item">item 32</div>
              <div class="grid-item">item 33</div>
              <div class="grid-item">item 34</div>
              <div class="grid-item">item 35</div>
              <div class="grid-item">item 36</div>
              <div class="grid-item">item 37</div>
              <div class="grid-item">item 38</div>
              <div class="grid-item">item 39</div>
              <div class="grid-item">item 40</div>
              <div class="grid-item">item 41</div>
              <div class="grid-item">item 42</div>
              <div class="grid-item">item 43</div>
              <div class="grid-item">item 44</div>
              <div class="grid-item">item 45</div>
              <div class="grid-item">item 46</div>
              <div class="grid-item">item 47</div>
              <div class="grid-item">item 48</div>
              <div class="grid-item">item 49</div>
              <div class="grid-item">item 50</div>
          </div>
        </div>
<code><pre>
&lt;div class="grid-5 grid-md-horizontal"&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
  &lt;div&gt;...&lt;/div&gt;<br />
&lt;/div&gt;
      </pre></code>
      </div> <!-- Main Column -->
    </div> <!-- Main Row -->
  </div> <!-- Main Container -->
</section>




@@include('../include/pre-footer.html')
</div>
 @@include('../include/footer.html')
</body>

</html>
